*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$colour-primary: #901C1C;
$colour-secondary: #DB8876;
$colour-name: #D3573C;



body{
    font-family: 'DM', sans-serif;
    font-size: 0.85rem;
    margin: 2rem 3.5rem 2rem 3.5rem;
}

// HEAD...............................................

.logo{
    width: 14rem;
}



// MAIN...............................................


// Présentation...........................

.presentation{

    // border: solid 2px red;
    background: #FAFAFA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;

    &__info{

        line-height: 2.5rem;
        
        &--name{
            color: $colour-name;
            font-size: 3rem;
            padding-bottom: 1rem;
        }

        &--localisation{
            color: $colour-primary;
            font-size: 1.2rem;
        }

        &--citation{
            color: #525252;
        }
    }

    &__contact{
        cursor: pointer;
        background: $colour-primary;
        color: white;
        height: 4rem;
        padding: 1rem;
        font-size: 1rem;
        border-radius: 6px;
    }

    &__photo{

        // border: solid 2px fuchsia;
        height: 11rem;
        width: 11rem;
        object-fit: cover;
        border-radius: 150px;
        
        &--img{
            height: 11rem;
            width: 11rem;
            object-fit: cover;
            border-radius: 150px;
        }
    }

}

// Bouton de tri..................................


.tri{
    // border: solid 2px blue;
    display: flex;
    justify-content: baseline;
    margin-top: 1rem;

    &__txt{
        font-weight: bold;
    }

    &__btn{

        display: flex;
        flex-direction: column; 

        &--back{
            display: none;
        }

        &--menu{
            background: $colour-primary;
            font-weight: bold;
            height: 3rem;
            padding: 1rem;
            margin-left: 1rem;
            border-radius: 5px;
            border-top: none;
            cursor: pointer;
            }

        &--lien{
            color: white;
            text-decoration: none;
        }      
    }
}

// #tri__btn--back{
//     display: flex;
//     flex-direction: column;
//     display: none;
// }

.fa-chevron-down{
    color: #FAFAFA;
}

// Galerie photos.................................

#galerie{
    // border: solid 2px fuchsia;
    display: flex;
    margin: 3rem 0rem 3rem 0rem;
    justify-content: space-between;
    flex-wrap: wrap;
}

.galerie__picture{
    // border: solid 2px red;
    width: 30%;
    margin: 1rem;
    
}

.galerie__picture--modeleImg{
    object-fit: cover;   
    height: 18rem;
    width: 26rem;
}

.galerie__picture--legend{
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    color: $colour-primary;
}

.galerie__picture--likes{
    display: flex;
}

.heart{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    cursor: pointer;
}

video{
    object-fit: cover;
    height: 18rem;
    width: 26rem;
}

// #galerie{
//     border: solid 2px fuchsia;
//     display: flex;
//     margin: 3rem 0rem 3rem 0rem;
//     justify-content: space-around;
//     flex-wrap: wrap;

//     &__picture{
//         border: solid 2px red;
//         width: 33%;

//         &--modeleImg{
//             object-fit: cover;
//             height: 18rem;
//             width: 18rem;
//         }

//         &--legend{
//             display: flex;
//             justify-content: space-around;
//             font-size: 1rem;
//             color: $colour-primary;
//         }
//     }
// }




// Encart...................................

.encart{
    background: $colour-secondary;
    position: fixed;
    width: 20%;
    bottom: 0;
    right: 0;
    border-radius: 0.5rem;
    font-size: 1.3rem;
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem 1rem 1.5rem;
    margin-right: 1.5rem;

        &__total{
            display: flex;
        }
}



// MODALE.............................................

#contact_modal{
    display: none;
    overflow: auto;
    position: fixed;
    z-index: 1;
    height: 100%;
    width: 30%;
    left: 35rem;
    top: 2rem;
    bottom: 2rem;
    

}

.modal{
    background: $colour-secondary;
    padding-bottom: 2rem;
    border-radius: 5px;

        &__entete{
            display: flex;
            justify-content: space-between;
            padding: 2rem;

            &--text{
                display: flex;
                flex-direction: column;
                font-size: 2.5rem;
            }

            &--titre{
                font-weight: lighter;
            }

            &--icone{
                cursor: pointer;
                height: 2rem;
            }
        }

        &__formulaire{

            margin-left: 2rem;
            margin-right: 2rem;

            &--item{
                display: flex;
                flex-direction: column;
            }

            &--bouton{
                background: $colour-primary;
                color: white;
                margin-top: 1rem;
                padding: 1rem 2rem 1rem 2rem;
                border: none;
                border-radius: 5px;
                font-size: 0.7rem;
                cursor: pointer
            }
        }
}

label{
    font-size: 1.3rem;
}

input{
    padding: 1rem;
    margin-bottom: 0.5rem;
    border: none;
    border-radius: 5px;
}

textarea{
    border: none;
    border-radius: 5px;
}


// ...................................................

// Modale Galerie.....................................

#modalGalerie{
    display: none;
    background: #FAFAFA;
    border: solid 2px black;
    width: 50%;
    height: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modalGalerie__defilement{
    display: flex;
    justify-content: space-around;
}

.modalGalerie__fleche{
    position: relative;

    &--icone{
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 50px;
        color: black;
    }

    &--iconeLeft{
        left: 0%;
    }

    &--iconeRight{
        right: 0%;
    }
}

.modalGalerie__defilement--big{
    object-fit: cover; 
    display: block;
    margin-left: auto;
    margin-right: auto;  
    height: 18rem;
    width: 26rem;
}

.modalGalerie__iconeClose{
    position: absolute;
    top: 5px;
    right: 5px;
    color: black;
    font-size: 30px;
}


// RESPONSIVE.........................................


@media (max-width: 770px){

    #galerie{
        display: flex;
        flex-direction: column;
    }

    .galerie__picture--legend{
        width: 26rem;
        justify-content:space-between;
    }

    .encart{
        font-size: 0.8rem;
        padding: 1rem 1.5rem 1rem 1rem;
    }

    .presentation{

        &__info{
               
            &--name{
                font-size: 2rem;
            }
    
        }
    
        &__contact{
            margin-right: 0.5rem;
        }
    
    }
    

    
}



@media (max-width: 500px){

    .logo{
        width: 7rem;
    }

    .presentation{

        padding: 1rem;
    
        &__info{
    
            line-height: 1.5rem;
            
            &--name{
                font-size: 1.5rem;
                padding-bottom: 1rem;
            }
    
            &--localisation{
                font-size: 0.5rem;
            }

            &--citation{
                font-size: 0.5rem;
            }
        }
    
        &__contact{
            height: 2rem;
            padding: 0.5rem;
            margin-right: 0.5rem;
            font-size: 0.5rem;
        }
    
        &__photo{
    
            // border: solid 2px fuchsia;
            height: 4rem;
            width: 4rem;
            
            &--img{
                height: 4rem;
                width: 4rem;
            }
        }
    
    }

    .tri{

    
        &__txt{
            font-weight: bold;
        }
    
        &__btn{
      
            &--back{
                display: none;
            }
    
            &--menu{
                height: 1rem;
            }        
        }
    }

    .galerie__picture{
        width: 100%;
        margin: 0.5rem;
        
    }

    .galerie__picture--modele{
        height: 10rem;
        width: 13rem;
    }

    .galerie__picture--modeleImg{ 
        height: 9rem;
        width: 13rem;
    }

    .galerie__picture--legend{
        font-size: 0.8rem;
        justify-content:space-around;
    }

    video{
        height: 9rem;
        width: 13rem;
    }
    

    .encart{
        width: 30%;
        font-size: 0.6rem;
        padding: 1rem 1.5rem 1rem 1rem;
    }

}
