* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM", sans-serif;
  font-size: 0.85rem;
  margin: 2rem 3.5rem 2rem 3.5rem;
}

.logo {
  width: 14rem;
}

.presentation {
  background: #FAFAFA;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
.presentation__info {
  line-height: 2.5rem;
}
.presentation__info--name {
  color: #D3573C;
  font-size: 3rem;
  padding-bottom: 1rem;
}
.presentation__info--localisation {
  color: #901C1C;
  font-size: 1.2rem;
}
.presentation__info--citation {
  color: #525252;
}
.presentation__contact {
  cursor: pointer;
  background: #901C1C;
  color: white;
  height: 4rem;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 6px;
}
.presentation__photo {
  height: 11rem;
  width: 11rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 150px;
}
.presentation__photo--img {
  height: 11rem;
  width: 11rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 150px;
}

.tri {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.tri__txt {
  font-weight: bold;
}
.tri__btn--menu {
  background: #901C1C;
  color: white;
  font-weight: bold;
  height: 3rem;
  padding: 1rem;
  margin-left: 1rem;
  border-radius: 5px;
}

#galerie {
  display: flex;
  margin: 3rem 0rem 3rem 0rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.galerie__picture {
  width: 30%;
  margin: 1rem;
}

.galerie__picture--modeleImg {
  -o-object-fit: cover;
     object-fit: cover;
  height: 18rem;
  width: 26rem;
}

.galerie__picture--legend {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  color: #901C1C;
}

.galerie__picture--likes {
  display: flex;
}

.fas {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

video {
  -o-object-fit: cover;
     object-fit: cover;
  height: 18rem;
  width: 26rem;
}

#contact_modal {
  display: none;
  overflow: auto;
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 30%;
  left: 35rem;
  top: 2rem;
  bottom: 2rem;
}

.modal {
  background: #DB8876;
  padding-bottom: 2rem;
  border-radius: 5px;
}
.modal__entete {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}
.modal__entete--text {
  display: flex;
  flex-direction: column;
  font-size: 2.5rem;
}
.modal__entete--titre {
  font-weight: lighter;
}
.modal__entete--icone {
  cursor: pointer;
  height: 2rem;
}
.modal__formulaire {
  margin-left: 2rem;
  margin-right: 2rem;
}
.modal__formulaire--item {
  display: flex;
  flex-direction: column;
}
.modal__formulaire--bouton {
  background: #901C1C;
  color: white;
  margin-top: 1rem;
  padding: 1rem 2rem 1rem 2rem;
  border: none;
  border-radius: 5px;
  font-size: 0.7rem;
  cursor: pointer;
}

label {
  font-size: 1.3rem;
}

input {
  padding: 1rem;
  margin-bottom: 0.5rem;
  border: none;
  border-radius: 5px;
}

textarea {
  border: none;
  border-radius: 5px;
}

@media (max-width: 1350px) {
  .galerie {
    flex-direction: column;
    text-align: center;
  }
  .galerie__picture {
    margin-bottom: 2rem;
  }
  .galerie__picture--modele {
    height: 30rem;
    width: 30rem;
  }
  .galerie__picture--legend {
    text-align: center;
  }
}
@media (max-width: 750px) {
  .photograph {
    flex-direction: column;
  }
  .photograph__info--name {
    padding-bottom: 1rem;
  }
  .photograph__info--localisation {
    padding-bottom: 1rem;
  }
  .photograph__info--citation {
    padding-bottom: 1rem;
  }
}
@media (max-width: 500px) {
  .galerie__picture--modele {
    height: 22rem;
  }
}/*# sourceMappingURL=photographer.css.map */