*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'DM', sans-serif;
    font-size: 0.85rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

h1{
    font-weight: lighter;
    color: #901C1C;
}

// head..................................

header{
    // border: solid 2px red;
    display: flex;
    justify-content: space-between;
    padding: 1rem;

}

.logo{
    width: 14rem;
}

// .hashtag{

//     &__categorie{
//         border: solid 2px #901C1C;
//         background: white;
//         color: #901C1C;
//         font-weight: bold;
//         border-radius: 10rem;
//         padding: 0.20rem 0.5rem 0.20rem 0.5rem;
//     }
// }

// ......................................


// main..................................

.photographer_section{
    // border: 2px solid blueviolet;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.profil{
    // border: 2px solid fuchsia;
    display: flex;
    flex-direction: column;
    text-align: center;  
    width: 30%;
    padding-bottom: 2rem;              ;

    &__icone{
        // border: solid 2px black;
        height: 12.5rem;
        width: 12.5rem;
        margin: 0 auto;
        border-radius: 150px;

        &--img{
            height: 12.5rem;
            width: 12.5rem;
            object-fit: cover;
            border-radius: 150px;
        }
    }
    
    &__txt{
        vertical-align: middle;
        
        &--name{
            font-size: 2rem;
            color: #D3573C;
        }

        &--localisation{
            color: #901C1C;
        }

        &--prix{
            color: #757575;
        }
    }
}

// ......................................



// RESPONSIVE............................

@media (max-width: 910px){

    .profil{
        // border: 2px solid fuchsia;
        width: 80%;            ;
    }
}

@media (max-width: 620px){

    .logo{
        width: 10rem;
    }

    h1{
        font-size: 1.2rem;
    }
}

@media (max-width: 450px){

    .logo{
        width: 7rem;
    }

    h1{
        font-size: 1rem;
    }
}